@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 300 700;
  font-display: swap;
}
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --Neutral-900: hsl(243, 96%, 9%);
  --Neutral-800: hsl(243, 27%, 20%);
  --Neutral-700: hsl(243, 23%, 24%);
  --Neutral-600: hsl(243, 23%, 30%);
  --Neutral-300: hsl(240, 6%, 70%);
  --Neutral-200: hsl(250, 6%, 84%);
  --Neutral-0: hsl(0, 0%, 100%);

  --Blue-500: hsl(233, 67%, 56%);
  --Blue-700: hsl(248, 70%, 36%);

  --Orange-500: hsl(28, 100%, 52%);

  --primary-color: var(--Neutral-900);
  --secondary-color: var(--Blue-500);
  --accent-color: var(--Orange-500);

  /* Typography */
  --font-body: "DM Sans", sans-serif, Arial;
  --font-heading: "Bricolage Grotesque", serif;

  --fs-body: 1.8rem;
  --fs-heading: 3.2rem;

  --fc-primary: var(--Neutral-0);
  --fc-mute: var(--Neutral-300);

  /* Breakpoints */
  --brkp-mobile: 37.5rem;

  /* box-model */
  --max-w: 1440px;
  --container-padding: 0 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-style: normal;
  color: var(--fc-primary);
  background-color: var(--primary-color);
}

.heading {
  font-family: var(--font-heading);
  font-size: var(--fs-heading);
  color: var(--color-primary);
}

.container {
  max-width: var(--max-w);
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding);
}

/* Focus Outline */

:focus-visible {
  outline: 2px solid var(--Neutral-0);
  outline-offset: 3px;
}

/* Dropdowns */
.dropdown {
  background-color: var(--Neutral-800);
  border-radius: 14px;
  border: 1px solid var(--Neutral-600);
}

@media screen and (min-width: 375px) {
  :root {
    --container-padding: 0 11rem;
  }
}
