.nav {
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 30px;
}

@media screen and (min-width: 375px) {
  .nav {
    padding-top: 4.8rem;
  }

  .logo {
    height: auto;
  }
}
